<body>

    <form method="post">


        <p>
            <label for="nombre" class="colocar_nombre">Nombre:
                <span class="obligatorio"></span>
            </label>
            <input type="text" name="introducir_nombre" id="nombre" placeholder="Escribe tu nombre">
        </p>

        <p>
            <label for="apellido" class="colocar_apellido">Apellido:
                <span class="obligatorio"></span>
            </label>
            <input type="text" name="introducir_apellido" id="apellido" placeholder="Escribe tu apellido">
        </p>

        <p>
            <label for="email" class="colocar_email">Email:
                <span class="obligatorio"></span>
            </label>
            <input type="text" name="introducir_email" id="email" placeholder="Escribe tu Email">
        </p>

        <p>
            <label for="contraseña" class="colocar_contraseña">Contraseña:
                <span class="obligatorio"></span>
            </label>
            <input type="password" name="introducir_contraseña" id="contraseña" placeholder="Escribe tu contraseña">
        </p>

        <p>
            <label for="repetir_contraseña" class="colocar_repetir_contraseña">Repetir contraseña:
                <span class="obligatorio"></span>
            </label>
            <input type="password" name="introducir_repetir_contraseña" id="repetir_contraseña"
                placeholder="Escribe tu contraseña de nuevo">
        </p>

    </form>
    <button>Registrarte!</button>
</body>