<body>
    <footer>
        <div>
            <a><img class="RRSS" src="https://i.pinimg.com/564x/21/d6/7f/21d67f1d6b3be5bb2e39395311c77fc6.jpg"></a>
            <a><img class="RRSS" src="https://i.pinimg.com/564x/64/1c/ec/641cecefc3e502d1f3b89ac352b5694b.jpg"></a>
            <a>
                <img class="RRSS"
                    src="https://image.similarpng.com/very-thumbnail/2021/01/Black-linkedin-logo-design-on-transparent-background-PNG.png"></a>
            <a><img class="RRSS"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOSf79zfLlxH3124XOo-kGU8ZYWqkVyM0xSXAW5k4nZcMZ_nXGt9Nq1-R-ytvoOok8deU&usqp=CAU"></a>
        </div>
    </footer>
</body>