body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgreen;
    height: 90vh;
    background-image: url(https://album.mediaset.es/eimg/2020/04/01/Fagw0vREqPnTbfcRoKSHm6.jpg?w=1200);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: xx-large;
}

.down {
    position: absolute;
    bottom: 50px;
}